@charset "UTF-8";

/*Estilo para telas*/

* {
    margin: 0px;
    padding: 0px;
}

/* Set the background color of body to tan */
body {
    background-color: tan;
  }
  
  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (max-width: 992px) {
    body {
      background-color: blue;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    body {
      background-color: olive;
    }
  }

html {
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
}

header {
    text-align: center;
    background-color: lightgrey;
}

menu {
    color: white;
    text-align: left;
    background-color: lightslategray;
}

li {    
    display: inline-block;
    padding: 10px;
}

main {
    
    background-color: lightgray;
}

h2 {
    padding: 10px;
}

p {
    padding: 10px;
    text-indent: 20px;
}

footer {
    display: block;
    text-align: center;
    color: white;
    background-color: lightslategray;
}
#textoimpressao {
    display: none;
}